::selection {
  background-color: #444;
  color: white;
}
p {
  margin-bottom: 0 !important;
}
:root {
  --gradient-clr-1: #334b5a;
  --gradient-clr-2: #5393ae;
  --gradient-clr-3: #321d2f;
}
body {
  position: relative;

  font-family: "Titillium Web", sans-serif;
  min-height: 100vb;
  background: linear-gradient(var(--gradient-clr-3) 50%, #00000022 60%),
    conic-gradient(
      var(--gradient-clr-3),
      var(--gradient-clr-3),
      var(--gradient-clr-1),
      var(--gradient-clr-3),
      var(--gradient-clr-3)
    );
  color: var(--gradient-clr-2);
}
.log-card {
  width: 90%;
  @media (min-width: 64em) {
    width: 55rem;
  }
  box-shadow: 0 0 12px #00000074;
  border-radius: 8px;
  background-color: #00000011;
  backdrop-filter: blur(3px);
}
.input-style,
.btn-style {
  width: 100%;
  border: none;
  min-height: 24px;
  box-shadow: inset 0 0 0 2px var(--gradient-clr-1);
  color: white;
  border-radius: 8px;
  transition: all 0.2s;
  background-color: transparent;
  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px var(--gradient-clr-1),
      0 0 6px var(--gradient-clr-2);
  }
}
.btn-style {
  &:hover {
    background-color: var(--gradient-clr-1);
  }
}

.sign a:hover {
  transition: all 0.1s;
  color: var(--gradient-clr-2) !important;
}
.btn-out {
  max-width: 100px;
}
.ls {
  letter-spacing: 0.35px;
}
.feedback {
  color: #77e1e1;
}

.mouse-border {
  position: absolute;
  pointer-events: none;
  box-shadow: inset 0 0 4px 2px var(--gradient-clr-2);
  border-radius: 9999px;
  width: 35px;
  height: 35px;
  clip-path: circle(50% at 50% 50%);
  &::after {
    position: absolute;
    content: "";
    inset: 0;
    border-radius: 9999px;
    z-index: 999;
  }
}
.zigzag {
  animation: zigzo 0.5s infinite alternate;
}
@keyframes zigzo {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #3a77772e;
  }
  100% {
    background-color: #3eb0b030;
  }
}
